<table class="<%= @table_class %>">
    <thead>
      <th>
        name
      </th>
      <th>
        albom
      </th>
      <th>
        artist
      </th>
      <th>
        time
      </th>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr song_id="<%= song.id %>">
          <td>
            <%= song.name%>
          </td>
          <td>
            <% if(!song.albom.nil?) %>
              <%= song.albom.name %>
            <% end %>
          </td>
          <td>
            <%
            if(!song.artists.nil?)
              song.artists.each do |artist| %>
                <%= artist.name %>
              <% end
            end %>
          </td>
          <td>
             <%= GetTimeFormat(song.time)  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>