<ul class="main_menu">
    <li>
        <%= link_to 'Songs List', :controller => "songs", :action => "list" %>
    </li>
    <li>
        <%= link_to 'Song Add', :controller => "songs", :action => "new" %>
    </li>
    <li>
        <%= link_to 'Alboms List', :controller => "alboms", :action => "list" %>
    </li>
    <li>
        <%= link_to 'Albom Add', :controller => "alboms", :action => "new" %>
    </li>
    <li>
        <%= link_to 'Artists List', :controller => "artists", :action => "list" %>
    </li>
    <li>
        <%= link_to 'Artists Add', :controller => "artists", :action => "new" %>
    </li>
</ul>